<h1>Showing selected item</h1>
<p>
  Name: <%= @item.name %>
</p>
<p>
  Price: <%= @item.price %>
</p>
<p>
  Date of Purchase: <%= @item.date %>
</p>
<%= link_to 'Edit this item', edit_item_path(@item) %>
<%= link_to 'Back to items listing', items_path %>

