<% if @category.errors.any? %>
<h2>The following errors prevented the category from getting created</h2>
<ul>
<% @category.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= form_for @category do |f| %>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

  <%=f.submit %>
</p>
<% end %>
<%= link_to 'Back to category listing', categories_path %>